<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{head.description}" />
    <base href="{global.baseUrl}" />

    <title>{head.title} | {global.appName}</title>
    <link rel="image/x-icon" href="public/favicon.ico">
    <script type="text/javascript" charset="UTF-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>

<body class="{body.class}">
    <!-- Start Page wrapper -->
    <div class="wrapper">

        <!-- Header -->
        <div class="header">
            <a href="/" class="logo">
                <img src="public/logo.png" alt="logo">
            </a>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="loggedOut" href="/account/create">Signup</a>
                </li>
                <li>
                    <a class="loggedOut" href="/session/create">Login</a>
                </li>
                <li>
                    <a class="loggedIn" href="/checks/all">Dashboard</a>
                </li>
                <li>
                    <a class="loggedIn" href="/accound/edit">Account Settings</a>
                </li>
                <li>
                    <a class="loggedIn" href="#">Logout</a>
                </li>
            </ul>
        </div>

        <!-- Start Page Content -->
        <div class="content">
